<table class = "table">
  <tr>
    <th> Image: </th>
    <th> Price </th>
    <th> return_date </th>
    <th> expected_return_date </th>
  </tr>
  <%@order.order_items.each  do |item| %>
    <tr>
      <td><%= image_tag(item.product.image,style: "width: 25%",class:"img-thumbnail") %></td>
      <td><%= item.product.price %></td>
      <td><%= Date.today %></td>
      <td><%= @order.expected_return_date %></td>
    </tr>
  <% end %>
</table>