<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
    	<%= image_tag(@order.order_item.product.image) %>
    	<div class = "caption" >
    		<p><%= @order.total %> | <%= @order.actual_return_date %> </p>
    	</div>
    </div>
  </div>
</div> 
