<div class="wrapper">
  <div class="response container">
    <div class="content">
      <% if @result %>
        <div class="icon">
          <img src=<%= asset_path("#{@result[:icon]}.svg") %> alt="">
        </div>
        <h1><%= @result[:header] %></h1>
        <section>
          <p><%= @result[:message] %></p>
          <p><%= link_to "continue shopping", products_path, class: "btn btn-primary" %>
        </section>
      <% end %>
    </div>
  </div>
</div>

