@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.style_image{
  width: 101%;
  height: 200%;
  margin-top: -6%
}

.top-right{
  position: absolute;
  top: 22%;
  left: 38%;
  font-size: 154%;
  color: white;
}

.top-left {
  position: absolute;
  top: 22%;
  left: 27%;
  font-size: 154%;
  color: white;
}

.thumbnail{
  width:250px;
  height:auto;
  margin-right: 31px;
  margin-left: 92px;
}

.field{
  margin-top: 9px;
}

.fiield{
  margin-top: 12px;
}

.vl {
  border-left: 2px solid #DAD1CE;
  height: 800px;
}

.searching{
  margin-top: 12px
}

.form-control{
  width: 20%;

}

.form-controll{
  width: 70%;
  margin-top: 12px
}

.inner{
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
}

.jumbotron{
  background-color: transparent;
  border: 2px solid #DAD1CE;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 83%;
    }

.btn-lg, .btn-group-lg > .btn {
    padding: 6px 16px;
    }

.container .jumbotron{
  padding-left: 52px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.jumbotron p{
  font-size: medium;
  }

.btn-block{
  width: 26%;
  margin-top: 2%;
  margin-left: 17%;

}

.form-horizontal{

    font-size: 18px;
}

.butt{
  margin-left: 174px;
}